footer#footer
  h3 Contact
  h2 ReviewsFilm
  p Phone: 0123456789
  p Email: reviews@gmail.com
  i.social-icon.fab.fa-facebook(aria-hidden='true')
  i.social-icon.fab.fa-instagram(aria-hidden='true')
  i.social-icon.fab.fa-twitter(aria-hidden='true')
  i.social-icon.fa.fa-envelope(aria-hidden='true')
  p
    | Copyright &copy; 
    span
    |  VoHongYen-20211TT0290
