extends components/layout.pug
block content    
    include components/detail.pug
    script(src="http://code.jquery.com/jquery-3.1.0.min.js")
    script(src='/js/ajax.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')