link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet')
link(rel="stylesheet", href="/stylesheet/style.css")
.container.py-5
  form.col-6.border.border-dark.rounded.p-3.m-auto(action='/dangnhap' method='POST')
    .form-group.mb-3
      label(for='un') Username
      input#un.form-control.bg-white(type='text' name='username')
    .form-group.mb-3 
      label(for='pass') M&#x1EAD;t kh&#x1EA9;u
      input#pass.form-control.bg-white(type='password' name='password')
    .form-group.mt-3.text-center
      button.btn.btn-danger.px-4.py-2.text-white(type='submit')  &Dstrok;&Abreve;NG NH&#x1EAC;P
    .btn-dangky
        a(href='/register')
            | Đăng ký
include components/footer.pug